name: Prod Deploy Functions
on:
  workflow_dispatch:
    inputs:
      verbose:
        description: 'Enable verbose logging'
        required: false
        type: boolean
        default: false

jobs:
  deploy_functions:
    uses: ./.github/workflows/deploy_functions_base.yaml
    with:
      environment: 'Production'
      project_name: 'quickshop-prod'
      verbose: ${{ inputs.verbose }}
    secrets: inherit