name: z Deploy Functions Base
on:
  workflow_call:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        type: string
      project_name:
        description: 'Firebase project name'
        required: true
        type: string
      verbose:
        description: 'Enable verbose logging'
        required: false
        type: boolean
        default: false
    secrets:
      FB_FUNCTIONS_CREDENTIALS:
        required: true

jobs:
  deploy_functions:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup Node.js 
      uses: actions/setup-node@v4
      with:
        node-version: 22
    
    - name: Install dependencies
      working-directory: ./functions
      run: npm install

    - name: Lint
      working-directory: ./functions
      run: npm run lint

    - name: Build
      working-directory: ./functions
      run: npm run build

    - name: Install Firebase CLI
      run: curl -sL https://firebase.tools | bash
  
    - name: Deploy Firebase Functions
      env:
        SERVICE_ACCOUNT: ${{ secrets.FB_FUNCTIONS_CREDENTIALS }}
      run: |
        echo "$SERVICE_ACCOUNT" >> google_service_account.json
        export GOOGLE_APPLICATION_CREDENTIALS=google_service_account.json
        firebase --version
        firebase deploy --project ${{ inputs.project_name }} --only functions ${{ inputs.verbose && '--debug' || '' }}
